# Supabase Configuration
SUPABASE_URL="https://oxyzmbvfyunufbnxmzlq.supabase.co"
SUPABASE_KEY="sb_publishable_8eU_tjIini-aNBlB1LvcGg_z_dBus3X"

# Database Connection (Replace [YOUR-PASSWORD] with the actual password in .env)
DATABASE_URL="postgresql://postgres:[K!V9bYAGy57LdJ7]@db.oxyzmbvfyunufbnxmzlq.supabase.co:5432/postgres"
